.forgot-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #f5f5f7;
}

.forgot-card{
    width: 100%;
    max-width: 450px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.forgot-card h1{
    text-align: center;
    margin-bottom: 15px;
}

.forgot-subtitle{
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.reset-btn{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: #599ee4;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.reset-btn:hover{
    background: #005bb5;
}

.back-login{
    text-align: center;
    margin-top: 25px;
}

.back-login a{
    color: #599ee4;
    font-weight: 600;
}